DATABASE_URL=postgresql://kegelkasse:changeme@db:5432/kegelkasse
POSTGRES_PASSWORD=changeme
SECRET_KEY=CHANGE_ME_generate_with_openssl_rand_hex_32
ENVIRONMENT=production
ACCESS_TOKEN_EXPIRE_MINUTES=10080
FIRST_SUPERADMIN_EMAIL=admin@kegelkasse.de
FIRST_SUPERADMIN_PASSWORD=change_after_first_login
